

body{

background-color: #333333;
	color: white;
	font-size: 20px;

}



img
 {width: 50%;

 padding: 20px;

  margin-top: 20px;
  margin-left: 100px;
  border-radius: 30%;

  float:left;
  background-color:#E3AFBC; 
    

 }


.pizza


{
	width: 100%;
	height: auto;

}

.nav {
    background-color:  #5D001E;
    overflow: hidden;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.nav a:hover {
    background-color:  #E3AFBC;
    color: black;
}


.nav a.active {
    background-color: #E3AFBC;
    color: white;
}
 



 	
 
 	

 


