

body{ 
 background-color:#9966;
}
 header{background-color: 606060;
 	color:blue;

 }
h1{color: #fe0000;

}

image{background-color: 000000;}	
.content{
width:1200px;

padding:20px;
margin: auto;


text-align:center;	
color:white;
}
footer{background-color: :606060;



}

